torch==2.2.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn[standard]
python-multipart

langchain
langchain-community
langchain-core
langchain-groq

pinecone
chromadb
faiss-cpu

langchain-huggingface
sentence-transformers
langchain-google-genai

PyPDF
python-dotenv

pydantic
requests
tqdm
loguru