fastapi
uvicorn[standard]
python-multipart

# langchain
langchain
langchain-community
langchain-core
langchain-groq

# Vector Store
pinecone
chromadb
faiss-cpu

# Embeddings
langchain-huggingface
sentence-transformers
langchain-google-genai

# PDF Parsing
PyPDF

# Environment variables
python-dotenv

# Typing and utilities
pydantic
requests
tqdm

# Logging 
loguru